<h1>Fb#test</h1>
<p>Find me in app/views/fb/test.html.erb</p>

<%  @numbers.each do |number| %>
  <tr>
  <td><%= number[0] %></td>
  <td><%= number[1] %></td>
  <td><%= number[2] %></td>
  <br>
  </tr>
<% end %>
